.userImage>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.baseInfo{
    padding: 20px;
}
.status{
    color: darkgray;
    padding: 5px 0px;
}
.nameString{
    font-weight: bold;
    padding: 5px 0px;
}
@media screen and (min-width: 600px){
.content {
    position: relative;
    display: flex;
    flex-direction: row;
}
.aboutService{
    position: absolute;
    bottom: 20px;
    left: 100px;
    padding: 20px;
    padding-left: 120px;
    background-color: #FFFBC8;
    border-radius: 10px;
    border: 1px solid #DADADA;
    z-index: -1;
}
}
@media screen and (max-width: 600px){
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutService{
        position: relative;
        left: 0px;
        bottom: 20px;
        padding: 20px;
        background-color: #FFFBC8;
        border-radius: 10px;
        border: 1px solid #DADADA;
    }
}